# 1. Cities in Sweden - create dataset

- Create this DataFrame from scratch:

In [4]:
import pandas as pd

data = pd.Series({"Malmö": 347949, "Stockholm": 975551, "Uppsala": 233839, "Göteborg": 583056})

df = pd.DataFrame({"Kommun": data.keys(), "Population": data.values})

df

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

###  a) Use your DataFrame to print out all the cities.

In [5]:
df["Kommun"]

0        Malmö
1    Stockholm
2      Uppsala
3     Göteborg
Name: Kommun, dtype: object

### b) Select only the row which contains Göteborg. Do this by using the name Göteborg.

In [20]:
df.loc[df["Kommun"] == "Göteborg"]

     Kommun  Population
3  Göteborg      583056

### c) Sort the cities by population from largest to smallest.

In [34]:
sorted_citys = df.sort_values(by= "Population", ascending= False)
sorted_citys

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949
2    Uppsala      233839

### d) Filter out the three largest cities.

In [33]:
sorted_citys.head(3)

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949

### e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city.

In [38]:

sorted_citys["Population (%)"] = round((sorted_citys["Population"] / 10379295) * 100, 1)
sorted_citys

      Kommun  Population  Population (%)
1  Stockholm      975551             9.4
3   Göteborg      583056             5.6
0      Malmö      347949             3.4
2    Uppsala      233839             2.3

# 2. Cities in Sweden - real dataset

### a) Read in the tab "Totalt" into a DataFrame and start exploring the data with some simple explorations such as

- df.head()
- df.info()
- df.describe()

In [74]:

df = pd.read_excel("../Data/komtopp50_2020.xlsx", header=5, usecols= range(0, 6), sheet_name="Totalt")

df.head()

   Rang  Unnamed: 1    Kommun  Folkmängd 31 december  Unnamed: 4 Förändring
0  2020        2019       NaN                   2020        2019          %
1    83          84       Ale                  31868       31402   1.483982
2    64          64  Alingsås                  41602       41420   0.439401
3   123         123   Alvesta                  20224       20134   0.447005
4   255         255     Aneby                   6821        6848  -0.394276

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rang                   291 non-null    int64
 1   Unnamed: 1             291 non-null    int64
 2   Kommun                 290 non-null    object
 3   Folkmängd 31 december  291 non-null    int64
 4   Unnamed: 4             291 non-null    int64
 5   Förändring             291 non-null    object
dtypes: int64(4), object(2)
memory usage: 13.8+ KB

In [76]:
df.describe()

              Rang   Unnamed: 1  Folkmängd 31 december     Unnamed: 4
count   291.000000   291.000000             291.000000     291.000000
mean    151.941581   151.934708           35674.621993   35496.934708
std     138.141207   138.092769           74524.551914   74190.464321
min       1.000000     1.000000            2020.000000    2019.000000
25%      73.500000    73.500000            9993.500000   10005.000000
50%     146.000000   146.000000           16063.000000   15940.000000
75%     218.500000   218.500000           35775.500000   35649.500000
max    2020.000000  2019.000000          975551.000000  974073.000000

### b) Clean your data so that the h

In [81]:
data_frame = df.drop(0)

data_frame = data_frame.rename( columns={'Rang': 'Rang 2020', 'Unnamed: 1': 'Rang 2019', 'Folkmängd 31 december': 'Folkmängd 2020', 'Unnamed: 4': 'Folkmängd 2019'})

data_frame

,Rang 2020,Rang 2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring
1,83,84,Ale,31868,31402,1.483982
2,64,64,Alingsås,41602,41420,0.439401
3,123,123,Alvesta,20224,20134,0.447005
4,255,255,Aneby,6821,6848,-0.394276
5,169,167,Arboga,14039,14087,-0.34074
...,...,...,...,...,...,...
286,54,55,Österåker,46644,45574,2.34783
287,116,115,Östhammar,22251,22250,0.004494
288,160,159,Östra Göinge,15017,15007,0.066636
289,284,284,Överkalix,3289,3315,-0.784314
290,279,279,Övertorneå,4217,4299,-1.90742

### c) Sort the cities by population from largest to smallest.

In [82]:
sorted_citys = data_frame.sort_values(by="Folkmängd 2020", ascending= False)
sorted_citys

,Rang 2020,Rang 2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring
199,1,1,Stockholm,975551,974073,0.151734
58,2,2,Göteborg,583056,579281,0.65167
135,3,3,Malmö,347949,344166,1.099179
242,4,4,Uppsala,233839,230767,1.331213
125,5,5,Linköping,164616,163051,0.959822
...,...,...,...,...,...,...
272,286,286,Åsele,2805,2794,0.393701
6,287,287,Arjeplog,2718,2785,-2.405745
30,288,288,Dorotea,2498,2551,-2.077617
195,289,289,Sorsele,2442,2489,-1.888309
13,290,290,Bjurholm,2387,2408,-0.872093

### d) Filter out the five smallest cities.